body {
    margin: 0;
    background-color: #F4EEEC;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-x: hidden; 
}

.container{
    margin: 0 auto;
}

header {
    background: #e8e4e3;
}

header:after{
    content: '';
    display: table;
    clear: both;
}

.logo{
  width: 100px;
  float: left;
  padding-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10 10;
}

nav{
    float: right;
    padding-right: 20px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 10px;
    position: relative;
}

nav a {
    color: #24757A;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #164B4F;
}

nav a:after {
    content: '';
    display: block;
    height: 5px;
    background-color: #CEA71B;
    position: absolute;
    width: 0%;
    transition: all ease-in-out 300ms;

}

nav a:hover::after {
    width: 100%;
    border-radius: 20px;
}


.rvButton{
    background-color: #24757A;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    transition: scale ;
    font-family: 'Lato', sans-serif;
    padding: 12px 12px 12px 12px;
    margin-right: 80px;
    font-size: 18px;
}

.rvButton:hover{
    scale: 1.05;
    color: #CEA71B;
}

.rendezVous{
    background: rgba(244, 238, 236, 0.76);
    color: #3BA1A8;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 1rem;
    font-size: 30px;
    transition: scale ;
}

.rendezVous:hover{
    scale: 1.05;
    color: #CEA71B;
}

.pageAcc{
    background: rgba(244, 238, 236, 0.90);
    color: #3BA1A8;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 1rem;
    font-size: 30px;
    transition: scale ;
}

.pageAcc:hover{
    scale: 1.05;
    color: #CEA71B;
}


.appele{
    background: #3BA1A8;
    color: #FFFFFF;
    border-radius: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 1rem;
    font-size: 30px;
    transition: scale ;
}

.appele:hover{
    scale: 1.05;
    color: #CEA71B;
}


footer{
    width: 100%;
    background-color: #DFDDA5;
    margin-bottom: none;
    content: '';
    display: block;
}

._cont{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

._cont>div>h2{
    color: #000000;
    font-family: 'Ledger', serif;
    font-size: 28px;
}

._cont>div>ul{
    list-style-type: none;
}

._cont>div>ul>li{
    cursor: pointer;
}

._cont>div>ul>li>a{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Ledger', serif;
    position: relative;
    left: 0;
    color: #000000;
    transition: all 0.4s;
}


.cont {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    font-family: 'Ledger', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 96px;
}

._centered {
    position: absolute;
    font-family: 'Ledger', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    color: white;
    width: 950px;
    text-align: center;
    margin-top: 40px;
}

.contenu {
    position: relative;
    text-align: center;
    color: white;
}


.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1),
                -10px -10px 10px rgba(255, 255, 255, 1)
                inset 10px 10px 10px rgba(0, 0, 0, .1),
                inset -10px -10px 10px rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.ctn{
    width: 100%;
    height: 100vh;
    color: #eee;
    display: flex;
    align-items: center;
}

.calendar {
    width: 30.5rem;
    height: 35rem;
    background-color: #f1efee;
    box-shadow: 0 0.5rem 3rem rgba(2, 36, 24, 0.803);
    padding-right: 5px;
    margin-left: 70px;
    padding-bottom: 10px;
}

.month{
    width: 100%;
    height: 6rem;
    background-color:#f1efee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.183);
    color: #164B4F;
}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1{
    font-size: 20px;
    font-weight: 400;
    text-transform: upercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p{
    font-size: 18px;
}

.weekdays{
    width: 480px;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    color: #24757A;
}

.weekdays div{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}

.days{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    color:#000000;

}

.days div{
    font-size: 14px;
    margin: 0.3rem;
    width: 60px;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.216);
}

.days div:hover:not(.today){
    background-color: #cea71b43;
    border-radius: 10px;
    cursor: pointer;
}

.prev-date,
.next-date{
    opacity: 0.5;
    border-radius: 10px;

}

.today{
    background-color: #CEA71B;
    border-radius: 10px;
}


.choix{
    width: 610px;
    background-color: #BAC1C2;
    padding: 50px;
    margin: 20px;
    display: flex;
    margin-left: 70px;
    height: 465px; 
}

.form-select{
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #848383;
    border-color: #3ba1a8b3;
    border-width: 2px;
    display: block;
    margin-top: 35px;
    margin-left: 15px;
}

.data{
    font-family: 'Ledger', serif;
}

.title{
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 70px;
}

.precedSuiv{
    width: 400px;
    height: 40px;
    margin-bottom: 150px;
    margin-left: 70px;
}

.button1{
    box-shadow: 0 3px 3px rgba(114, 97, 3, 0.803); 
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background-color: #9b7c0bd3;
    border: none;
    padding: 15px 20px 15px 20px;
    margin-right: 20px;
}

.button1:hover{
    scale: 1.05;
    color: #FFFFFF;
    box-shadow: 0 5px 5px rgba(114, 97, 3, 0.803);
}

.button2{
    box-shadow: 0 3px 3px rgba(114, 97, 3, 0.803);
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background-color: #9b7c0bd3;
    border: none;
    padding: 15px 28px 15px 32px;
}
.button2:hover{
    scale: 1.05;
    color: #FFFFFF;
    box-shadow: 0 5px 5px rgba(114, 97, 3, 0.803);
}

.dropdownData{
    font-size: 24px;

}

.ddpre{
    border-radius: 18px;
    width:300px;
    background-color: #D9D9D9;
    border: none;
    padding: 22px 22px 22px 22px;
    margin-right: 50px;
    font-size: 24px;
    font-family: 'Ledger', serif;
}

.ddn{
    border-radius: 18px;
    width:300px;
    background-color: #D9D9D9;
    border: none;
    padding: 22px 22px 22px 22px;
    font-size: 24px;
    font-family: 'Ledger', serif;
}

.ddcour{
    border-radius: 18px;
    width:300px;
    background-color: #D9D9D9;
    border: none;
    padding: 22px 22px 22px 22px;
    margin-right: 50px;
    font-size: 24px;
    font-family: 'Ledger', serif;
}

.ddnum{
    border-radius: 18px;
    width:300px;
    background-color: #D9D9D9;
    border: none;
    padding: 31px 22px 22px 40px;
}

.choose{
    margin-left: 70px;
    font-size: 24px;
    font-family: 'Ledger', serif;
    margin-bottom: 70px;
}

.button3{
    box-shadow: 0 3px 3px rgba(55, 158, 165, 0.41);
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #3BA1A8;
    border: 2px;
    border: 2px solid #3ba1a8c5;
    background-color: #e8e4e300;
    width: 250px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.button3:hover{
    color: #2a7b80;
    box-shadow: #2a7c80cd;
    border: 2px solid #2a7b80;
}

#expert1{
    transform: translate(-470px, 130px);
    margin-top: 75px;
}

#expert2{
    transform: translate(-463px, 150px);

}

#heure1{
    transform: translate(-932px, 265px);
}

#heure2{
    transform: translate(-940px, 275px);
}

.button4{
    box-shadow: 0 3px 3px rgba(114, 97, 3, 0.803);
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background-color: #24757A;
    border: none;
    padding: 15px 28px 15px 32px;
    margin-left: 520px;
    
}

.button4:hover{
    scale: 1.05;
    color: #CEA71B;
}

#btn4 {
    transform: translate(700px, -65px);
}

#btn3 {
    transform: translate(750px, -75px);
}

.rencontre{
    text-align: center;
    font-size: 64px;
    font-family: 'Ledger', serif;
    color: #F4EEEC;
    width:auto;
    padding: 10px;
    background-color: rgba(42, 124, 128, 0.847);
}

.endRencontre{
    width:auto;
    padding: 100px;
    background-color: rgba(42, 124, 128, 0.847);
}

.docteurs{
    margin-left: 500px;
    font-size: 40px;
    font-family: 'Ledger', serif;
}

#description1{
    font-size: 26px;
    transform: translate(-2px, -300px);
    width: 600px;
}
#description2{
    font-size: 26px;
    transform: translate(-2px, -300px);
    width: 600px;
}
#description3{
    font-size: 26px;
    transform: translate(-2px, -300px);
    width: 600px;
}
#description4{
    font-size: 26px;
    transform: translate(-2px, -300px);
    width: 600px;
}

#doc1{
    transform: translate(-400px, 100px);
}

#doc2{
    transform: translate(-400px, 100px);
}

#doc3{
    transform: translate(-400px, 100px);
}

#doc4{
    transform: translate(-400px, 100px);
}

#d1{
    transform: translate(-2px, -275px);
}

#d2{
    transform: translate(-2px, -275px);
}

#d3{
    transform: translate(-2px, -275px);
}

#d4{
    transform: translate(-2px, -275px);
}

#map1{
    margin-top: 40px;
    margin-left: 70px;
    width:600px;
    padding: 30px;
    border-radius: 20px;
    background-color: hsla(47, 83%, 31%, 0.592);
    margin-bottom: 70px;
}

#map2{
    width:560px;
    margin-bottom: 70px;
    border-radius: 20px;
    margin-left: 60px;
}

#emplacement{
    transform: translate(950px,-365px);
    z-index: 1;
    color: #FFFFFF;
    font-family: 'Ledger', serif;
    font-size: 50px;
}

.urgence{
    text-align: center;
    color: #000000;
    font-family: 'Ledger', serif;
    font-size: 40px;
}

.explic{
    color: #90730D;
    font-family: 'Ledger', serif;
    font-size: 40px;
    width: 500px;
    text-align: center;
    margin-left: 475px;
}

.em1descrip{
    width: auto;
    background-color: hsla(184, 48%, 45%, 0.734);
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 70px;
    height: 150px; 
    display: inline-block;
    font-family: 'Ledger', serif;
    font-size: 22px;
}

.urg{
    display: flex;
    justify-content: space-around;
    font-family: 'Ledger', serif;
    margin-bottom: 120px;
}

.urg2 h7{
    font-size: 36px;
    font-family: 'Ledger', serif;
}

.urg2 p{
    font-size: 20px;
    font-family: 'Ledger', serif;
    width: 300px;
}

.general{
    display: flex;
    justify-content: space-around;
    font-family: 'Ledger', serif;
}

.general h8{
    font-size: 48px;
}

.gen{
    display: flex;
    font-family: 'Ledger', serif;
    margin-left: 150px;
    font-size: 28px;
}

.descr{
    display: flex;
    margin-left: 220px;
    font-family: 'Ledger', serif;
    margin-bottom: 60px;
    font-size: 22px;
    color: #747272;
}

#espace{
    width: 730px;
    background-color: #90730D;
    height: 1px;
    padding: 1px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

#espace2{
    width: 560px;
    background-color: #90730D;
    height: 1px;
    padding: 1px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.cosmetique{
    display: flex;
    justify-content: space-around;
    font-family: 'Ledger', serif;
}

.cosmetique h8{
    font-size: 48px;
}

.cos{
    display: flex;
    font-family: 'Ledger', serif;
    margin-left: 170px;
    font-size: 28px;
}

#espace3{
    width: 635px;
    background-color: #90730D;
    height: 1px;
    padding: 1px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

#espace4{
    width: 675px;
    background-color: #90730D;
    height: 1px;
    padding: 1px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

#espace5{
    width: 655px;
    background-color: #90730D;
    height: 1px;
    padding: 1px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.abonnement{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #455E64;
    margin-left: 70px;
    
}

.check{
    display: flex;
}

#avantage{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.enfant{
    display: flex;
    margin-top: 150px;
}

#enfimage{
    margin-left: 180px;
}
.check1{
    margin-left: 80px;
    font-size: 30px;
}

.c1{
    display: flex;
    font-size: 24px;
}

#ck1{
    transform: translate(800px, -310px);
}

#ck2{
    transform: translate(800px, -360px);
}

#ck3{
    transform: translate(800px, -410px);
}

#adimage{
    transform: translate(680px, -370px);
}

#ad1{
    transform: translate(-460px, -360px);
}

#ck4{
    transform: translate(220px, -690px);
}

#ck5{
    transform: translate(220px, -740px);
}

#ck6{
    transform: translate(220px, -790px);
}

#agimage{
    transform: translate(100px, -730px);
}

#ag1{
    transform: translate(100px, -740px);
}

#ck7{
    transform: translate(800px, -1100px);
}

#ck8{
    transform: translate(800px, -1150px);
}

#ck9{
    transform: translate(800px, -1200px);
}

.avantage2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.adulte{
    display: flex;
    margin-top: 150px;
    margin-left: 90px;
}

.age{
    display: flex;
    margin-top: 150px;
    margin-left: 90px;
    margin-bottom: 60px;
}


#t1{
    width:auto;
    padding: 200px;
    background-color: rgba(42, 124, 128, 0.847);

    transform: translate(0px, 500px);
}

#t2{
    width:auto;
    padding: 200px;
    background-color: rgba(42, 124, 128, 0.847);
    transform: translate(0px, -1200px);
}


#temoign{
    transform: translate(0px, -1000px);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 46px;
    color: #455E64;
    margin-left: 480px;
}

.tem{
    width: 270px;
    background-color: #bac1c2ba;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 10px;
    height: 270px; 
    display: inline-block;
    margin-left: 85px;
    font-family: 'Lato', sans-serif;
    color:#455E64;
    border-radius: 10px;
    box-shadow: 0 0.5rem 3rem rgba(69, 94, 100, 0.262);

}

#temoign1{
    transform: translate(0px, -975px);
}

#temoign2{
    transform: translate(0px, -890px);
}

#temoign3{
    transform: translate(0px, -980px);
}

.fournisseur{
    font-size: 48px;
    color: #90730D;
    font-family: 'Ledger', serif;
    width: 900px;
    margin-left: 300px;
    text-align: center;
    margin-top: 150px;
}

.assurances{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}

.abTitre{
    font-family: 'Ledger', serif;
    font-size: 28px;
    margin-left: 70px;
}

.abTexte{
    font-family: 'Ledger', serif;
    font-size: 20px;
}

.aproposClinique{
    margin-top: 100px;
    margin-left: 65px;
    margin-bottom: 100px;
}
